# Node modules
node_modules/

# Build output
.next/
out/
.env
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/ 